<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/StyleNosotros.css">
    <link rel="Icon" href="../static/img/logonaciones.png">
    <title>Colegio Naciones Unidas I.E.D - Nosotros</title>
</head>
<body>
    <header>
        <div class="head">
            <div class="title-logo">
                <img src="../static/img/logonaciones.png" alt="Logo-Empresa">
                <h1 class="title">Colegio Naciones Unidas I.E.D</h1>
            </div>

            <button id="abrir" class="abrirMenu"><i class="fa-solid fa-bars"></i></button>
            <nav id="menu" class="nav-bar">
                <button id="cerrar" class="cerrarMenu"><i class="fa-solid fa-x"></i></button>
                <ul>
                    <li><a href="" class="op">Inicio</a></li>
                    <li><a href="" class="op1">Nosotros</a></li>
                    <li><a href="" class="op2">Comunidad</a></li>
                    <li><a href=""  class="nav-button">Iniciar Sesion</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="present">
            <h1>
                Sobre nosotros
            </h1>
        </div>

        <div class="vimi">
            <div class="parra">
                <div class="vision">
                    <h2>
                        Vision
                    </h2>

                    <p>
                        Para el año 2025, el Colegio Naciones Unidas IED, será una institución líder 
                        por sus procesos de gestión educativa y aportará a la sociedad ciudadanos proactivos, 
                        competentes y comprometidos, que impacten su entorno y hagan aportes para mejorar su calidad de vida.
                    </p>
                </div>

                <div class="mision">
                    <h2>
                        Mision
                    </h2>

                    <p>
                        Formamos seres humanos integrales, competentes, comprometidos, 
                        con amplio desarrollo del liderazgo que le permite transformar su entorno.
                    </p>
                </div>
            </div>
        </div>

        <div class="objetivo">
            <div class="todo">
                <div class="parraob">
                    <div class="obje">
                        <h2>Objetivo</h2>
                        <h2 class="active">Institucional</h2>
                    </div>

                    <div class="info">
                        <p>
                            Formar líderes gestores, promotores, íntegros y competentes, 
                            capaces de construir conocimiento socialmente útil, dando uso adecuado 
                            a la tecnología para afrontar retos sociales y laborales que respondan a la 
                            realidad de su entorno.
                        </p>
                    </div>
                </div>
                <div class="img"></div>
            </div>
        </div>

        <div class="objetivo">
            <div class="todo">
                <div class="img1"></div>
                <div id="parraob" class="parraob">
                    <div class="obje">
                        <h2>Perfil Del Estudiante</h2>
                    </div>

                    <div  class="info">
                        <p>
                            Al finalizar el último grado de la Educación Media, 
                            el (la) joven egresado(a) del Colegio Naciones Unidas IED, 
                            será una persona proactiva, entusiasta, capaz de comunicarse, 
                            competente, comprometida, que le permite liderar la transformación 
                            e impactar su entorno, a través de sus aportes para mejorar su calidad 
                            de vida, la de su familia y de la comunidad y a la vez, poder ingresar 
                            al mundo laboral como resultado del aprendizaje obtenido en su formación 
                            técnica con el SENA.     
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../static/js/Script.js"></script>
</body>
</html>